.title {
  text-align: center;
  margin: 0%;
  font-size: 3rem;
  color: yellow;
  text-shadow: 1px 1px lightskyblue;
  font-family: 'Chicle', cursive;
}
.scores {
  font-size: 2rem;
  text-align: center;
  color: black;
  margin-bottom: 1%;
  font-family: 'Chicle', cursive;
}
.titleBox {
  display: block;
  width: 100%;
}
